<ul class="list-inline">
  <% 10.times do %>
  <li>
  <div class="interesting_tweet">
    <h2><a href="<%= interesting_tweet_path('1') %>">@username</a></h2>
    <p>Can haz cheezeburger?</p>
    <p><img src="http://placekitten.com/80/100" /></p>
  </div>
  </li>
<% end %>
</ul>
