<ol class="breadcrumb">
  <li><a href="#" class="active">Campaigns</a></li>
</ol>

<div clas="row">
  <h1>Campaigns</h1>
  <div class="col-md-6">
    <h2><a href="/campaigns/yyc-hackathon">YYC Hackathon</a></h2>
    <div><img src="/images/geofence.png" /></div>
  </div>
  <div class="col-md-6">
    <h2><a href="/campaigns/new">New Campaign</a></h2>
    <div style="height: 402px; background: grey;">
  </div>
</div>
