<div class="page-header">
  <h1>Create new campaign</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/campaigns">Campaigns</a></li>
  <li class="active">New Campaign</li>
</ol>

<div class="panel panel-default">
  <div class="panel-body">
  <form id="create-form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Campaign name">
        </div>
        <div class="form-group">
          <label for="map">Geofence</label>
          <img src="/images/fake-map.png" />
        </div>
        <div class="form-group">
          <label for="hashtags">Hashtags</label>
          <input type="text" class="form-control" name="hashtags" placeholder="#hashtags" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Replies to @yychackathon
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Tweets with media
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <button class="btn btn-lg btn-primary">Create</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>

<script>
  $('#create-form').on('submit', function (event) {
      event.preventDefault();
      window.location = "/campaigns/yyc-hackathon";
    });
</script>
