<ol class="breadcrumb">
  <li><a href="/campaigns">Campaigns</a></li>
  <li class="active">YYC Hackathon</li>
</ol>

<div class="row">
  <h1>YYC Hackathon</h1>
  <div class="col-md-6">
    <img src="/images/tweets.png" />
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" data-user="@bennet_stevens">
      <div class="panel-heading">
        <strong>Ben Stevenson</strong> @bennet_stevens
      </div>
      <div class="panel-body">
        <p>Thanks <a>@AcceleratorYYC</a> <a>@MolsonCoorsCA</a> yet another cold one into the breach. <a>#hackyyc</a></p>
        <div class="thumbnail">
          <img src="/images/beer.jpg" />
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Steven Habbi</strong> @stevenhabbi
      </div>
      <div class="panel-body">
        <p>I just dropped into the <a>#yychackathon</a> <a>@AcceleratorYYC</a>. Folks are creating some pretty cool stuff. Judging could be tight on Sunday. <a>#YYC</a></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Steven Habbi</strong> @stevenhabbi
      </div>
      <div class="panel-body">
        <p><a>@AcceleratorYYC</a> How are things going at the <a>#YYCHackathon?</a></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>MRU MKTG Society</strong> @MRUmktgsociety
      </div>
      <div class="panel-body">
        <p>Hey <a>#MRU</a> and members interested in winning $50k? if you have a great  <a>#creativeidea</a> check out <a>#YYChackathon</a> <a>http://www.acceleratoryyc.com/critical-mass-hackathon-jan2014/</a> … </p>
      </div>
    </div>
  </div>
</div>

<!-- Reply dialog -->
<div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Reply to <strong>@bennet_stevens</strong></h4>
      </div>
      <div class="modal-body">
        <div class="field-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="field-group">
          <input id="fileupload" class="form-control" type="file" name="files[]" data-url="/images" multiple>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Send reply</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<script>
$('div.panel').on('click', function (event) {
    $reply = $('#reply');
    $reply.find('textarea').val('');
    $reply.modal();
  });
  $(function () {
      $('#fileupload').fileupload({
          dataType: 'json',
          done: function (e, data) {
              $.each(data.result.files, function (index, file) {
                  $('<p/>').text(file.name).appendTo(document.body);
              });
          }
      });
  });
</script>
