<ol class="breadcrumb">
  <li><a href="/campaigns">Campaigns</a></li>
  <li class="active">YYC Hackathon</li>
</ol>

<div class="row">
  <h1>YYC Hackathon</h1>
  <div class="col-md-6">
    <img src="/images/geofence.png" />
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <strong>Ben Stevenson</strong> @bennet_stevens
      <p>Thanks <a>@AcceleratorYYC</a> <a>@MolsonCoorsCA</a> yet another cold one into the breach. <a>#hackyyc</a></p>
    </div>
    <div class="thumbnail">
      <strong>Steven Habbi</strong> @stevenhabbi
      <p>I just dropped into the <a>#yychackathon</a> <a>@AcceleratorYYC</a>. Folks are creating some pretty cool stuff. Judging could be tight on Sunday. <a>#YYC</a></p>
    </div>
    <div class="thumbnail">
      <strong>Steven Habbi</strong> @stevenhabbi
      <p><a>@AcceleratorYYC</a> How are things going at the <a>#YYCHackathon?</a></p>
    </div>
    <div class="thumbnail">
      <strong>MRU MKTG Society</strong> @MRUmktgsociety
      <p>Hey <a>#MRU</a> and members interested in winning $50k? if you have a great  <a>#creativeidea</a> check out <a>#YYChackathon</a> <a>http://www.acceleratoryyc.com/critical-mass-hackathon-jan2014/</a> … </p>
    </div>
  </div>
</div>

<script>
$('div.thumbnail')
  .on('click', function (event) {
    window.location = "/campaigns/yyc-hackathon/tweets/123";
  });
</script>
