<!DOCTYPE html>
<html lang="en">
<head>
  <title>ManagerSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Twitter bootstrap via CDN -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <span class="navbar-brand">Nightmare</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/interesting_tweets">Tweets</a></li>
    </ul>
  </nav>
  <div id="container" class="container">
  <%= yield %>
  </div>
</body>
</html>
